.post-preview-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 32%;
    padding: 0 !important;
}
@media only screen and (max-width: 525px) {
    .md-card-title--large {
        font-size: 20px;
    }
}
@media only screen and (max-width: 398px) {
    .md-card-title--large {
        font-size: 16px;
    }
}
@media only screen and (max-width: 320px) {
    .md-card-title--large {
        font-size: 14px;
    }
}
@media only screen and (max-width: 300px) {
    .md-card-title--large {
        font-size: 12px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .post-preview-cover img, .post-cover img {
        height: auto !important;
        top: -80% !important;
    }
}